---
import Features from '../sections/Features.astro';
import HeroSection from '../sections/HeroSection.astro';
import Layout from '../layouts/Layout.astro';
import Testimonials from '../sections/Testimonials.astro';
import Work from '../sections/Work.astro';
---

<Layout title="Welcome to Astrolus.">
	<main class="space-y-40 mb-40">
		<HeroSection/>
		<Features/>
		<Work/>
		<Testimonials/>
	</main>
</Layout>